body {
    color: rgb(0, 0, 0);
    background: rgba(221, 29, 29, 0.616);
}
header {
    border: solid 2px rgb(0, 0, 0);
    border: solid 2px rgb(10, 10, 10);
    border-bottom: solid 2px rgb(7, 7, 7);
    padding: 20px; 
    font-size: 32px;
    color: rgb(0, 0, 0);   
}
section {
    background: rgb(35, 62, 185);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto {
    margin-right: 5%;
}
h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  img {
    height: 160px;
  }
  .categoria-videos {
    display: flex;
    overflow-x: auto;
  gap: 10px;
  }
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
 